
<section>

    <div class="leftpanel">
        <div class="leftpanelinner">


            <ul class="nav nav-tabs nav-justified nav-sidebar nobottom">
                <li class="tooltips active" data-toggle="tooltip" title="Jobs"><a data-toggle="tab" data-target="#mainmenu"><i class="fa fa-briefcase" aria-hidden="true"></i> Jobs</a></li>
                <li class="tooltips unread" data-toggle="tooltip" title="Mail"><a data-toggle="tab" data-target="#mailcontent1"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a></li>
                <li class="tooltips unread" data-toggle="tooltip" title="Chat"><a data-toggle="tab" data-target="#contactmenu"><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</a></li>
            </ul>



            <div class="tab-content">


                <!-- ################# MAIN MENU ################### -->

                <div class="tab-pane active" id="mainmenu">

                    <div class="btn-group mr5" style="margin: 10px 10px;">
                        <button type="button" class="btn btn-md btn-default active-jobs">Active Jobs</button>
                        <button type="button" class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="inactive-job.html">Inactive Jobs</a></li>
                        </ul>
                    </div><!-- btn-group -->

                    <ul class="nav nav-tabs nav-justified nav-sidebar nobottom">
                        <li class="tooltips active"><a data-toggle="tab" data-target="#myjob">My Jobs</a></li>
                        <li class="tooltips unread"><a data-toggle="tab" data-target="#colleaguesjob">All Jobs</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="myjob">
                            <!--<h5 class="sidebar-title">Favorites</h5>-->
                            <div class="btn-group mr5" style="margin: 10px 10px;">
                                <a class="btn btn-success btn-xs btn-quirk width200" href="new-job-edit.html"><i class="fa fa-plus-circle"></i> <span>New Jobs</span></a>
                            </div>


                            <ul class="inbox-nav inbox-divider mainsidenav">
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-text1">Flipkart </span>
                                        <span class="nav-text2"> Software Engineer</span> |
                                        <span class="nav-text2">Java</span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-text1">Myntra </span>
                                        <span class="nav-text2"> Developer</span> |
                                        <span class="nav-text2">Java</span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-text1">Makemytrip </span>
                                        <span class="nav-text2"> Architect</span>
                                    </a>
                                </li>
                            </ul>

                        </div><!-- tab-pane -->



                        <div class="tab-pane" id="colleaguesjob">
                            <div class="input-group input-search-contact  mt10">
                                <input class="form-control" placeholder="Search contact" type="text">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                            </div>
                            <ul class="inbox-nav inbox-divider mainsidenav">
                                <li class="active">
                                    <a href="javascript:;">
                                        <span class="nav-text1">Flipkart </span>
                                        <span class="nav-text2"> Software Engineer</span>
                                        <span class="nav-text2">Java</span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-text1">Myntra </span>
                                        <span class="nav-text2"> Developer</span>
                                        <span class="nav-text2">Java</span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-text1">Makemytrip </span>
                                        <span class="nav-text2"> Architect</span>
                                    </a>
                                </li>
                            </ul>

                        </div><!-- tab-pane -->
                    </div><!--End tab-content -->
                </div><!-- tab-pane -->


                <div class="tab-pane" id="mailcontent1">
                    <div class="mail-box">
                        <aside class="sm-side">
                            <div class="user-head" style="min-height: 51px;">
                                <a class="inbox-avatar" href="javascript:;" style="width: 22px;">
                                    <img width="20"  src="img/user.jpg">
                                </a>
                                <div class="user-name">
                                    <h5 style="margin-top:0"><a href="#">Alireza Zare</a></h5>
                                    <span><a href="#">Info.Ali.Pci@Gmail.com</a></span>
                                </div>
                            </div>


                            <div class="inbox-body">
                                <a class="button8 btn btn-compose noleftmargin" id="compose_btn">
                                    Compose
                                </a>
                            </div>
                            <ul class="inbox-nav inbox-divider">
                                <li>
                                    <a href="javascript:;" id="Inbox"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">2</span></a>

                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
                                </li>
                                <li>
                                    <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="label label-info pull-right">30</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
                                </li>
                            </ul>


                        </aside>
                    </div>
                </div>

                <!-- ######################## EMAIL MENU ##################### -->

                <div class="tab-pane" id="emailmenu">

                    <h5 class="sidebar-title">Links</h5>
                    <ul class="nav nav-pills nav-stacked nav-quirk nav-mail">
                        <li><a href="javascript:;"><i class="fa fa-tags"></i> <span>Link 1</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-tags"></i> <span>Link 2</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-tags"></i> <span>Link 3</span></a></li>
                    </ul>

                    <h5 class="sidebar-title">Tags</h5>
                    <ul class="nav nav-pills nav-stacked nav-quirk nav-label">
                        <li><a href="#"><i class="fa fa-tags primary"></i> <span>Communication</span></a></li>
                        <li><a href="#"><i class="fa fa-tags success"></i> <span>Updates</span></a></li>
                        <li><a href="#"><i class="fa fa-tags warning"></i> <span>Promotions</span></a></li>
                        <li><a href="#"><i class="fa fa-tags danger"></i> <span>Social</span></a></li>
                    </ul>
                </div><!-- tab-pane -->

                <!-- ################### CONTACT LIST ################### -->

                <div class="tab-pane" id="contactmenu">
                    <div class="input-group input-search-contact  mt10">
                        <input type="text" class="form-control" placeholder="Search contact">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                    </div>
                    <h5 class="sidebar-title">My Contacts</h5>
                    <ul class="media-list media-list-contacts">
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user1.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Christina R. Hill</h4>
                                    <span><i class="fa fa-phone"></i> 386-752-1860</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user2.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Floyd M. Romero</h4>
                                    <span><i class="fa fa-mobile"></i> +1614-650-8281</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user3.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Jennie S. Gray</h4>
                                    <span><i class="fa fa-phone"></i> 310-757-8444</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user4.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Alia J. Locher</h4>
                                    <span><i class="fa fa-mobile"></i> +1517-386-0059</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user5.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Nicholas T. Hinkle</h4>
                                    <span><i class="fa fa-skype"></i> nicholas.hinkle</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user6.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Jamie W. Bradford</h4>
                                    <span><i class="fa fa-phone"></i> 225-270-2425</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user7.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Pamela J. Stump</h4>
                                    <span><i class="fa fa-mobile"></i> +1773-879-2491</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user8.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Refugio C. Burgess</h4>
                                    <span><i class="fa fa-mobile"></i> +1660-627-7184</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user9.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Ashley T. Brewington</h4>
                                    <span><i class="fa fa-skype"></i> ashley.brewington</span>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="#">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="img/photos/user10.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Roberta F. Horn</h4>
                                    <span><i class="fa fa-phone"></i> 716-630-0132</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- tab-pane -->

                <!-- #################### SETTINGS ################### -->

                <div class="tab-pane" id="settings">
                    <div class="sidebar-btn-wrapper mt10">
                        <a href="" class="btn btn-danger btn-block">Compose</a>
                    </div>

                    <h5 class="sidebar-title">Mailboxes</h5>
                    <ul class="nav nav-pills nav-stacked nav-quirk nav-mail">
                        <li><a href="#"><i class="fa fa-inbox"></i> <span>Inbox (3)</span></a></li>
                        <li><a href="#"><i class="fa fa-pencil"></i> <span>Draft (2)</span></a></li>
                        <li><a href="#"><i class="fa fa-paper-plane"></i> <span>Sent</span></a></li>
                    </ul>
                </div><!-- tab-pane -->


            </div><!-- tab-content -->

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="contentpanel">

            <div class="row">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-line">
                    <li class="active"><a href="dashboard.html"><i class="fa fa-share"></i> <strong>Delivery</strong></a></li>
                    <li><a href="recruiters.html"><i class="fa fa-user-plus"></i> <strong>Recruiters</strong></a></li>

                </ul>

                <div class="clear"></div>
                <br>

                <div class="panel-body text-center no-padding selectedfilter hidden">
                    <div class="alert alert-success width100 leftdiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Filter1</strong>
                    </div>

                    <div class="alert alert-success width100 leftdiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Filter2</strong>
                    </div>

                    <div class="alert alert-success width100 leftdiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Filter3</strong>
                    </div>
                </div>
                <div class="clear"></div>
                <br>

                <a data-toggle="modal" data-target="#filter" class="btn btn-success btn-xs btn-quirk modalbtn" style="position: absolute;right: 0;top: 17px;">
                    <i class="fa fa-filter" aria-hidden="true"></i> Filter
                </a>
            </div>
            <div class="row">

                <div class="panel panel-inverse">
                    <div class="panel-heading" style="background: #d8dce3;">
                        <h3 class="panel-title blacktext">Qualitative</h3>
                    </div>
                    <div class="panel-body">
                        <div class="chartdiv col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title">Processed from Interacted</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div id="barchart1" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart1" class="flot-chart"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="chartdiv col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title">Shortlisted from Processed</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div id="barchart2" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart2" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="chartdiv col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title">Attended From Shortlisted</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div id="barchart3" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart3" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="chartdiv col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title">Offered from Attended</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div id="barchart4" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart4" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="chartdiv col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title">Joined From Offered</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div id="barchart5" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart5" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="panel panel-inverse">
                    <div class="panel-heading" style="background: #d8dce3;">
                        <h3 class="panel-title blacktext">Quantitative</h3>
                    </div>
                    <div class="panel-body">
                        <div class="border-grey mb10" style="padding-bottom: 20px;">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-inverse nav-justified">
                                <li class="active"><a href="#popular2" data-toggle="tab"><strong>Resumes Sent</strong></a></li>
                                <li><a href="#recent2" data-toggle="tab"><strong>Screen Select</strong></a></li>
                                <li><a href="#comments2" data-toggle="tab"><strong>Attended</strong></a></li>
                                <li><a href="#comments2" data-toggle="tab"><strong>Offered</strong></a></li>
                                <li><a href="#comments2" data-toggle="tab"><strong>Joined-<span id="num">1</span></strong></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content mb20">
                                <div class="tab-pane active" id="popular2">
                                    <div class="col-md-6">
                                        <div id="barchart6" class="flot-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Quantitative numbers across each stage</h2>
                                    </div>
                                </div>
                                <div class="tab-pane" id="recent2">
                                    gdgfdg
                                </div>
                                <div class="tab-pane" id="comments2">
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="panel panel-inverse">


                    <div class="panel-heading" style="background: #d8dce3;">
                        <h3 class="panel-title blacktext">TAT/Frequency</h3>
                    </div>
                    <div class="panel-body">
                        <div class="border-grey mb10" style="padding-bottom: 20px;">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-inverse" id="first_tab1">
                                <li class="active"><a href="#clienttat" data-toggle="tab"><strong>Client TAT</strong></a></li>
                                <li><a href="#jdvsresume" data-toggle="tab"><strong>New JD Received VS Resumes Sent</strong></a></li>
                                <li><a href="#frequencyresume" data-toggle="tab"><strong>Frequency of Resumes</strong></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content mb20">
                                <div class="tab-pane active" id="clienttat">

                                    <div class="first" id="first_tab">
                                        <div class="col-md-6">
                                            <div id="barchart7" class="flot-chart"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <h2>Average time taken in <br>days for each action
                                                <a href="javascript:;"  class="btn btn-info btn-xs btn-quirk list-float-btn2 mybutton">
                                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="clear height20"></div>
                                    </div>





                                    <div class="second border-grey" style="display:none;" id="second_border_grey">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-inverse">
                                            <li class="active"><a href="#Feedback" data-toggle="tab"><strong>Feedback</strong></a></li>
                                            <li><a href="#Interview" data-toggle="tab"><strong>Interview</strong></a></li>
                                            <li><a href="#Offer" data-toggle="tab"><strong>Offer</strong></a></li>
                                            <li><a href="#Joining" data-toggle="tab"><strong>Joining</strong></a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content mb20">
                                            <div class="tab-pane active" id="Feedback">
                                                <div class="col-md-6">
                                                    <div id="barchart8" class="flot-chart"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h2>Average time taken in<br> days for each action
                                                        <a href="javascript:;"  class="btn btn-info btn-xs btn-quirk list-float-btn2 mybutton">
                                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                                        </a>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="Interview">
                                                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                            </div>
                                            <div class="tab-pane" id="Offer">
                                                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                            </div>
                                            <div class="tab-pane" id="Joining">
                                                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>



                                </div>
                                <div class="tab-pane" id="jdvsresume">
                                    <div class="col-sm-6">
                                        <div id="slider-success" class="mt20 slider-success mb20 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 65%;"><span class="range-align">Max Delivery Timeline of 2 Days</span></div>
                                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 36%;background-color: #eac02f;right: 0;left: inherit;"><span class="range-align">Alert</span></div>
                                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 18%;background-color: #ec4007;right: 0;left: inherit;"><span class="range-align">Danger</span></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 49%;"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>Time Taken to send resumes on receiving new JD</h3>
                                    </div>
                                </div>
                                <div class="tab-pane" id="frequencyresume">
                                    <div class="col-sm-6">
                                        <div id="trackingchart" class="flot-chart"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>Frequency of No of resumes shared</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
</section>

<script>
    $(".mybutton").click(function () {

        $("#second_border_grey").toggle();
        $("#first_tab").toggle();
    })
</script>

<script>
    $("#feed_click").click(function () {
        $("#second_border_grey").toggle();
        $("#first_tab").hide();
        $("#first_tab12").show();
    });
</script>
<!--
<script src="lib/flot/jquery.flot.js"></script>
<script src="lib/flot/jquery.flot.resize.js"></script>
<script src="lib/flot/jquery.flot.symbol.js"></script>
<script src="lib/flot/jquery.flot.crosshair.js"></script>
<script src="lib/flot/jquery.flot.categories.js"></script>
<script src="lib/flot/jquery.flot.pie.js"></script>
<script src="lib/flot/jquery.flot.tooltip.js"></script>
<script src="lib/flot/jquery.flot.time.js"></script>
<script src="lib/flot-spline/jquery.flot.spline.js"></script>
<script src="lib/morrisjs/morris.js"></script>
<script src="lib/raphael/raphael.js"></script>
<script src="lib/jquery-sparkline/jquery.sparkline.js"></script>
<script src="js/charts.js"></script>-->

