<!-- Modal -->
<div class="modal bounceIn animated" id="shortlistfilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog width400">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="vm.applyLastFilterSelection()">&times;</button>
                <h4 class="modal-title modal-heading text-center" id="myModalLabel">Shortlist Filter</h4>
            </div>
            <div class="modal-body">
                <form action="" class="">
                    <div class="form-group" ng-init="vm.filterObject.SHORTLIST[0].filterTag = 'filterByRecruiter'">
                        <select id="select45" class="form-control" style="width: 100%" data-placeholder="Filter By Recruiter"
                                ng-model="vm.filterObject.SHORTLIST[0].filterValue" multiple>
                            <option value="Option1">Option1</option>
                            <option value="Option2">Option2</option>
                            <option value="Option3">Option3</option>
                            <option value="Option4">Option4</option>
                            <option value="Option5">Option5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12" style="text-align: left;"
                         ng-init="vm.filterObject.SHORTLIST[1].filterTag = 'selectStatus'">
                        <a href="javascript:;" class="btn btn-success btn-xs btn-quirk list-float-btn1" id="ShortlistRdioClearTrigger"
                           ng-click="vm.adjustFilterObject('selectStatus', vm.filterObject.SHORTLIST[1].filterValue)">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </a>
                        <label class="col-md-10 filter_radio_lable">
                            <input type="radio" name="rdio" ng-click="vm.filterObject.SHORTLIST[1].filterValue = ['SHORTLISTED']">
                            <span>Shortlisted</span>
                        </label>

                        <label class="col-md-12 filter_radio_lable">
                            <input type="radio" name="rdio" ng-click="vm.filterObject.SHORTLIST[1].filterValue = ['CANDIDATE DROPPED']">
                            <span>Candidate Dropped</span>
                        </label>

                        <label class="col-md-12 filter_radio_lable">
                            <input type="radio" name="rdio" ng-click="vm.filterObject.SHORTLIST[1].filterValue = ['AVAILABLE LATER']">
                            <span>Available Later</span>
                        </label>

                        <label class="col-md-12 filter_radio_lable">
                            <input type="radio" name="rdio" ng-click="vm.filterObject.SHORTLIST[1].filterValue = ['CALL LATER']">
                            <span>Call later</span>
                        </label>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-success text-center width100"
                        ng-click="vm.applyfilter()" data-dismiss="modal">Apply</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div><!-- modal -->

<script src="popupjs/jquery.dockmodal.js"></script>

<script>
    $(function () {

        // Textarea Auto Resize
        autosize($('#autosize'));

        // Select2 Box
        $("#select45").select2({tags: true});

    });
</script>
<script type="text/javascript">
    //<![CDATA[
    $('#ShortlistRdioClearTrigger').click(function () {
        $('input[name=rdio]').attr('checked', false);
    });
    //]]>
</script>
