<!-- Modal -->
<div class="modal bounceIn animated" id="Absconding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog width300">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-heading text-center" id="myModalLabel">Absconding</h4>
            </div>
            <div class="modal-body">
                <form action="" class="">
                    <div class="form-group">
                        
                        <select id="absconding" class="form-control" style="width: 100%; text-align: left;"
                                data-placeholder="Reason for absconding"
                                ng-model="vm.abscondingReason">
                            <option value="Didn't like the culture">Didn't like the culture</option>
                            <option value="Got a better Package">Got a better Package</option>
                            <option value="Job Location is far">Job Location is far</option>
                            <option value="Got an onsite offer">Got an onsite offer</option>
                            <option value="Personal Reasons">Personal Reasons</option>
                            <option value="Not a great product">Not a great product</option>
                            <option value="Not a great team">Not a great team</option>
                            <option value="Founding team is not exciting">Founding team is not exciting</option>
                            <option value="Not keen with the firm">Not keen with the firm</option>
                            <option value="Not keen with the domain">Not keen with the domain</option>
                            <option value="Interview Process was bad">Interview Process was bad</option>
                            <option value="Tech stack is not exciting">Tech stack is not exciting</option>
                            <option value="Got job in preferred Location">Got job in preferred Location</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Date" id="datepicker3"
                               ng-model="vm.abscondingDate">
                    </div>


                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-success width100"
                        ng-click="vm.abscondingStatusEvent()" data-dismiss="modal">Apply</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div><!-- modal -->

<script>
    $(function () {

        // Textarea Auto Resize
        autosize($('#autosize'));

        // Select2 Box
       // $("#absconding").select2({tags: true});
       $("#absconding").select2({minimumResultsForSearch: Infinity});

        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });

        // Date Picker
        $('#datepicker3').datepicker();

    });
</script>
