
<section ng-init="vm.initJobs()">

    <div ng-include src="'partials/candidate.side-menu.html'"></div>
    <span ng-include src="'partials/job(mail-slide).html'"></span>
    <div class="mainpanel">

        <div class="contentpanel">



            <!-- content goes here... -->
            <div class="row">


                <div class="col-md-12 col-lg-12 dash-left">
                    <div class="panel panel-announcement no-background">

                        <div class="panel-body text-center no-padding">
                            <ul class="nav nav-tabs nav-line tabview">
                                <li class="active"><a data-target="#first" data-toggle="tab"><strong>Internal Data <span id="badge">({{vm.allCandidateCount}})</span></strong></a></li>
                                <li><a data-target="#second" data-toggle="tab"><strong>Social Data <span id="badge">(32,904)</span></strong></a></li>
                                <li style="float:right">
                                    <ul class="unstyled inbox-pagination">
                                        <li><span>{{vm.idSkip+1}}-{{(vm.idSkip>50)?(vm.idSkip+51):(vm.allCandidateCount)}} of {{vm.allCandidateCount}}</span></li>
                                        <li>
                                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left" ng-click="vm.skipRecall('-')"></i></a>
                                        </li>
                                        <li>
                                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right" ng-click="vm.skipRecall('+')"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>



                            <div class="tab-content">
                                <!------------------First Tab------------------------>
                                <div class="tab-pane active no-background" id="first">
                                    <div class="text-left mr10">
                                        <div class="pull-right text-right right-nav" style="margin: 0">
                                            <a data-toggle="modal" data-target="#internalfilter" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a>
                                            <span ng-include src="'partials/candidate.internal-data.filter.html'"></span>
                                            <a data-toggle="modal" data-target="#internaldata_movetoactive" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-user-plus" aria-hidden="true"></i> Move to Active Jobs</a>
                                            <!--<span ng-include src="'partials/candidate.internal-data.move-to-active-jobs.html'"></span>-->
                                            <a data-toggle="modal" data-target="#internaldata_addstatus" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-plus-square" aria-hidden="true"></i> Status</a>
                                            <span ng-include src="'partials/candidate.internal-data.status.html'"></span>
                                            <button class="btn btn-success btn-xs btn-quirk"><i class="fa fa-envelope" aria-hidden="true"></i> Send</button>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <br>
                                </div>

                                <!------------------End First Tab------------------------>

                                <!------------------Second Tab------------------------>
                                <div class="tab-pane no-background" id="second">
                                    <div class="text-left mr10">
                                        <div class="pull-right text-right right-nav" style="margin: 0">
                                            <a data-toggle="modal" data-target="#externalfilter" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a>
                                            <span ng-include src="'partials/candidate.social-data.filter.html'"></span>
                                            <a data-toggle="modal" data-target="#socialdata_movetoactive" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-user-plus" aria-hidden="true"></i> Move to active Jobs</a>
                                            <!--<span ng-include src="'partials/candidate.social-data.move-to-active-jobs.html'"></span>-->
                                            <a data-toggle="modal" data-target="#socialdata_addstatus" class="btn btn-success btn-xs btn-quirk"><i class="fa fa-plus-square" aria-hidden="true"></i> Status</a>
                                            <span ng-include src="'partials/candidate.social-data.status.html'"></span>
                                            <button class="btn btn-success btn-xs btn-quirk"><i class="fa fa-envelope" aria-hidden="true"></i> Send</button>
                                            <!--<button class="btn btn-success btn-xs btn-quirk"><i class="fa fa-download" aria-hidden="true"></i> Excel</button>-->
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <br>
                                </div>
                                <!------------------End Second Tab------------------------>



                            </div>

                        </div>

                        <!--<div class="panel-body text-center no-padding selectedfilter">
                            <div class="alert alert-success width100 leftdiv">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Filter1</strong>
                            </div>

                            <div class="alert alert-success width100 leftdiv">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Filter2</strong>
                            </div>

                            <div class="alert alert-success width100 leftdiv">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Filter3</strong>
                            </div>
                        </div>-->

                        <div class="col-md-3 list-view mCustomScrollbar white-background" data-mcs-theme="dark">
                            <h3 class="text-center text-head" style="font-size: 21px;">Candidates</h3>
                            <div class="input-group input-search-contact mt10 border-grey">
                                <input class="form-control" placeholder="Search contact" type="text" ng-model="vm.searchTextOnCandidates">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                            </div>

                            <div class="chk-all">
                                <label class="ckbox ckbox-success">
                                    <input type="checkbox" ng-change="vm.checkAllIDCandidate()" ng-model="vm.flagCheckAllIDCandidate"><span>All</span>
                                </label>
                            </div>
                            <div class="clear"></div>
                            <div class="list" ng-repeat="row in vm.allCandidateDetails | filter: vm.searchTextOnCandidates"
                                ng-click="vm.internalDataCandidateDetailsFunction(row._id)" onclick="disableContent();">
                                <label class="col-sm-1 ckbox2 ckbox ckbox-success">
                                    <input type="checkbox" ng-model="vm.checkIDCandidateList[$index]"><span></span>
                                </label>
                                <div class="candidate-list">
                                    <h3>{{row.candidateName}}</h3>
                                    <h4 style="text-transform: capitalize;">{{row.employer || '-' | lowercase}} </h4>
                                    <!--<a href="javascript:;" class="btn btn-info btn-xs btn-quirk list-float-btn">AR</a>-->
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="header-intro text-left white-background">
                                <h3>{{vm.iDataCandidateDetails.candidateName}}
                                    <a href="javascript:;" class="btn btn-inverse btn-xs btn-quirk list-float-btn1">{{ vm.iDataCandidateDetails.assigneeName }}</a>
                                </h3>
                                <h4 style="text-transform: capitalize;">{{vm.iDataCandidateDetails.employer || '-' | lowercase }}</h4>
                                <h4>{{vm.iDataCandidateDetails.college || '-'}}</h4>


                                <div class="text-right right-nav" style="margin: 0">
                                    <button class="btn btn-info btn-xs btn-quirk" style="float:left">Awaiting resume</button>
                                    <a class="btn btn-success btn-xs btn-quirk" data-toggle="modal" data-target="#candidate-resume-upload"><i class="fa fa-upload" aria-hidden="true"></i> Resume</a>
                                    <span ng-include src="'partials/job.candidate.new-resume.html'"></span>
                                    <a class="btn btn-success btn-xs btn-quirk" id="button8"><i class="fa fa-envelope" aria-hidden="true"></i> Send</a>
                                    <a class="btn btn-success btn-xs btn-quirk" ng-if="vm.iDataLinkedInLink != 'NOT FOUND'" href="{{vm.iDataLinkedInLink}}" target="_blank">
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                    <!--                        <button class="btn btn-success btn-xs btn-quirk"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</button>
                                                            <button class="btn btn-success btn-xs btn-quirk"><i class="fa fa-linkedin-square" aria-hidden="true"></i> In</button>-->
                                </div>
                            </div>

                            <div class="body-tab">
                                <div class="border-grey white-background">
                                    <ul class="nav nav-tabs nav-justified nav-inverse" style="border-bottom: 1px solid #dddddd;">
                                        <li class="active"><a data-target="#resume1" data-toggle="tab"><strong><i class="fa fa-file-word-o" aria-hidden="true"></i> Resume</strong></a></li>
                                        <li><a data-target="#detail1" data-toggle="tab"><strong><i class="fa fa-file-text" aria-hidden="true"></i> Details</strong></a></li>
                                        <li><a data-target="#feed1" data-toggle="tab"><strong><i class="fa fa-rss" aria-hidden="true"></i> Feed <span id="num">({{(vm.iDataFeedJobRecords.currentJobs.length+vm.iDataFeedJobRecords.previousJobs.length) || 0}})</span></strong></a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active popupscroll mCustomScrollbar" data-mcs-theme="dark" id="resume1">
                                            <div class="col-md-12" ng-if="vm.iDataResumeFileMetadata.isResumeFound" >
                                                <iframe id="frame" ng-src="{{vm.iDataResumeFileMetadata.pathURL | trustAsResourceUrl}}" style="width:100%; height:390px;" frameborder="0"></iframe>
                                            </div>  
                                        </div>


                                        <div class="tab-pane popupscroll mCustomScrollbar" data-mcs-theme="dark" id="detail1">
                                            <form id="detailform" action="" class="form-horizontal">
                                                <input type="hidden" name="editreadonly_hidden" value="0" id="editreadonly_hidden"/>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="name" class="form-control txtreadonly" ng-model="vm.iDataCandidateDetails.candidateName" placeholder="Type your name..." required/>
                                                        <a class="btn btn-default btn-xs btn-quirk btn-success"
                                                           style="position: absolute; top: 0; right: -25px;" id="editreadonly" ng-click="vm.saveIDCandidateDetails(vm.iDataCandidateDetails._id)" onclick="myFunction()">
                                                            <i class='fa fa-pencil-square-o' aria-hidden='true'></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Mail ID <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="email" class="form-control txtreadonly" ng-model="vm.iDataCandidateDetails.email" placeholder="Type email address..." required/>
                                                        <!--<select id="select16" class="form-control txtreadonly" style="width: 100%" data-placeholder="" multiple>
                                                            <option value="abc@gmail.com">abc@gmail.com</option>
                                                            <option value="option1">option1</option>
                                                            <option value="option1">option2</option>
                                                            <option value="option1">option3</option>
                                                            <option value="option1">option4</option>
                                                        </select>-->
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Mobile</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="contact" class="form-control txtreadonly" ng-model="vm.iDataCandidateDetails.contact" oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Type contact number..." required/>
                                                        <!--<select id="select17" class="form-control txtreadonly" style="width: 100%" data-placeholder="" multiple>
                                                            <option value="+91 8888888888">+91 8888888888</option>
                                                            <option value="option1">option1</option>
                                                            <option value="option1">option2</option>
                                                            <option value="option1">option3</option>
                                                            <option value="option1">option4</option>
                                                        </select>-->
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Experience <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.experience" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" 
                                                        maxlength="4" name="" class="txtreadonly form-control" placeholder="" required/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Company</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="" ng-model="vm.iDataCandidateDetails.employer" class="form-control" />
                                                        <!--                                      <div class="input-group mb15">
                                                                                                  <input type="text" name="" class="form-control" />
                                                                                                  <span class="input-group-addon cursor" data-toggle="modal" data-target="#newclient"><i class="glyphicon glyphicon-pencil"> Edit</i></span>
                                                                                             </div>-->
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Designation</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="" ng-model="vm.iDataCandidateDetails.designation" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">College</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="" ng-model="vm.iDataCandidateDetails.college" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Key Skills</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="" ng-model="vm.iDataCandidateDetails.key_skills" class="form-control" />
                                                    </div>
                                                </div>                                                

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">CTC <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.ctcFixed" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="Fixed" required>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.ctcVariable" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="Variable" required>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.ctcEsops" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="ESOPS" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">ECTC <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.eCTCFixed" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="Fixed" required>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.eCTCVariable" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="Variable" required>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.eCTCEsops" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="5" name="" class="txtreadonly form-control" placeholder="ESOPS" required>
                                                    </div>
                                                </div>

                                                <div id="dvPassport" class="form-group col-md-6">
                                                    <label class="col-sm-6 control-label">Notice Period</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" ng-model="vm.iDataCandidateDetails.noticePeriod" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'');" maxlength="2" class="txtreadonly form-control" placeholder="" style="width: 111px;">
                                                    </div>
                                                </div>

                                                <div id="dvPassport" class="form-group col-md-6">
                                                    <label class="col-sm-6 control-label">Candidate serving notice?</label>
                                                    <div class="col-sm-6 mt10">
                                                        <label class="ckbox ckbox-success">
                                                            <input type="checkbox" ng-model="vm.iDataCandidateDetails.serveNotice"><span></span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Job Location <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <!--<input type="text" name="name" class="form-control txtreadonly" placeholder="" required/>-->
                                                        <select id="select_candloc_id" class="ele1 form-control hideable" style="width: 100%" data-placeholder="Enter Job Location"
                                                                ng-model="vm.iDataCandidateDetails.location" required>
                                                            <option value="Bangalore">Bangalore</option>
                                                            <option value="Hyderabad">Hyderabad</option>
                                                            <option value="Ahmedabad">Ahmedabad</option>
                                                            <option value="Pune">Pune</option>
                                                            <option value="Nagpur">Nagpur</option>
                                                            <option value="Mumbai">Mumbai</option>
                                                            <option value="Noida">Noida</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>
                                            </form>


                                        </div>

                                        <script type="text/javascript">
                                            //<![CDATA[
                                            document.onload = function () {
                                                function myFunction()
                                                {
                                                    var editreadonly_hidden = $("#editreadonly_hidden").val();
                                                    if (editreadonly_hidden == 0)
                                                    {
                                                        $('#editreadonly').html("<i class='fa fa-floppy-o' aria-hidden='true'></i>");
                                                        $("#detailform :input").prop("disabled", false);
                                                        $("#editreadonly_hidden").val(1);
                                                    } else
                                                    {
                                                        $('#editreadonly').html("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>");
                                                        $("#detailform :input").prop("disabled", true);
                                                        $("#editreadonly_hidden").val(0);
                                                    }
                                                }
                                                disableContent();

                                            }

                                            function toggleText() {
                                                var editreadonly_hidden = $("#editreadonly_hidden_mail").val();
                                                if (editreadonly_hidden == 0)
                                                {
                                                    $('#enableTxt').html("<i class='fa fa-floppy-o' aria-hidden='true'></i>");
                                                    $("#accordion8 .table-row2 #collapseOne8 .panel-body :input").prop("disabled", false);
                                                    $("#editreadonly_hidden_mail").val(1);
                                                } else
                                                {
                                                    $('#enableTxt').html("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>");
                                                    $("#accordion8 .table-row2 #collapseOne8 .panel-body :input").prop("disabled", true);
                                                    $("#editreadonly_hidden_mail").val(0);
                                                }
                                            }
                                            function toggleTextRow() {
                                                var editreadonly_hidden = $("#editreadonly_hidden_row").val();
                                                if (editreadonly_hidden == 0)
                                                {
                                                    $('#enableTxt').html("<i class='fa fa-floppy-o' aria-hidden='true'></i>");
                                                    $("#accordion8 .table-row1 #collapseOne8 .panel-body :input").prop("disabled", false);
                                                    $("#editreadonly_hidden_row").val(1);
                                                } else
                                                {
                                                    $('#enableTxt').html("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>");

                                                    $("#accordion8 .table-row1 #collapseOne8 .panel-body :input").prop("disabled", true);
                                                    $("#editreadonly_hidden_row").val(0);
                                                }
                                            }

                                            function disableContent() {
                                                
                                                var editreadonly_hidden = $("#editreadonly_hidden").val();
                                                $('#enableTxt').html("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>");
                                                $("#detailform :input").prop("disabled", false);
                                                $("#editreadonly_hidden").val(0);
                                            }
                                        </script>

                                        <div class="tab-pane popupscroll mCustomScrollbar" data-mcs-theme="dark" id="feed1">
                                            <form action="" class="form-horizontal">

                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs nav-line">
                                                    <li class="active"><a data-target="#currentfeed" data-toggle="tab"><strong>Current Feeds ({{vm.iDataFeedJobRecords.currentJobs.length || 0}})</strong></a></li>
                                                    <li><a data-target="#prevfeed" data-toggle="tab"><strong>Previous Feeds ({{vm.iDataFeedJobRecords.previousJobs.length || 0}})</strong></a></li>
                                                </ul>

                                                <div class="clear" style="margin: 20px;"></div>



                                            </form>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="currentfeed">
                                                    <div class="panel-group" id="accordion-currentfeed">
                                                            <div class="panel panel-success" ng-repeat="row in vm.iDataFeedJobRecords.currentJobs" ng-click="vm.getFeedMsgThread(row.jobId, vm.iDataCandidateDetails._id)">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">

                                                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion-currentfeed" data-target="#collapse-currentfeed-{{$index}}">
                                                                                <span class="col-md-6" style="font-size: 16px;margin-top: 5px">
                                                                                    <span>{{row.clientName}}</span>
                                                                                    - 
                                                                                    <span>{{row.designation}} </span>
                                                                                </span>
                                                                        <button class="col-md-2 btn btn-info btn-xs btn-quirk width-auto">{{row.status}}</button>
                                                                        <span class="list-subhead"> {{row.userName}}</span>
                                                                        <div class="clear"></div>
                                                                    </a>
                                                                </h4>

                                                            </div>
                                                            <div id="collapse-currentfeed-{{$index}}" class="panel-collapse collapse mt20">
                                                                <div class="panel-body">
                                                                    <div class="form-group">
                                                                        <!--                                    <label class="col-sm-3 control-label">Comment <span class="text-danger">*</span></label>-->
                                                                        <div class="col-sm-12">
                                                                            <textarea rows="5" class="form-control" placeholder="What ‘s on your mind about this candidate?"
                                                                                      ng-model="vm.postMessage" required></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                    <br>

                                                                    <div class="row">
                                                                        <div class="col-sm-2"  style="float: right;margin-right: 20px;">
                                                                            <button class="btn btn-success btn-block btn-quirk btn-wide mr5"
                                                                            ng-click="vm.sendMessage(row.jobId, vm.iDataCandidateDetails._id)">Post</button>
                                                                        </div>
                                                                    </div>

                                                                    <hr>
                                                                    <!-- Nav tabs -->
                                                                    <ul class="nav nav-tabs nav-line">
                                                                        <li class="active"><a data-target="#All-{{$index}}" data-toggle="tab"><strong>All</strong></a></li>

                                                                        <li><a data-target="#Tags-{{$index}}" data-toggle="tab"><strong>Tags</strong></a></li>
                                                                        <!--<li><a data-target="#Mails-{{$index}}" data-toggle="tab"><strong>Mails</strong></a></li>-->
                                                                        <li><a data-target="#Status-{{$index}}" data-toggle="tab"><strong>Status</strong></a></li>
                                                                        <li><a data-target="#Notes-{{$index}}" data-toggle="tab"><strong>Notes</strong></a></li>
                                                                    </ul>


                                                                    <!-- Tab panes -->
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active" id="All-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.TAGS">
                                                                                <h3 style="font-size: 14px;">You are tagged in a comment <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5> {{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                            <!--<div class="listcomment" ng-repeat="innerrow in row.msgThread.MAILS">
                                                                                <h3 style="font-size: 14px;">You have received mail from: <span class="right">{{innerrow.timestamp | date: "h:mma dd/MM/yyyy"}}</span></h3>
                                                                                <h5>{{innerrow.sentFrom}}</h5>  
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>-->
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.STATUS">
                                                                                <h3 style="font-size: 14px;">Changed By: <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>{{innerrow.changedBy}}</h5>
                                                                                <h4 style="font-size: 14px;text-transform: capitalize;">Status: {{innerrow.status | lowercase}}</h4>
                                                                            </div>
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.NOTES">
                                                                                <h3 style="font-size: 14px;">Note:<span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>Saved By: {{innerrow.savedBy}}</h5>
                                                                                <h4 style="font-size: 14px;">{{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane" id="Tags-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.TAGS">
                                                                                <h3 style="font-size: 14px;">You are tagged in a comment <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5> {{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <!--<div class="tab-pane" id="Mails-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in row.msgThread.MAILS">
                                                                                <h3 style="font-size: 14px;">You have received mail from: <span class="right">{{innerrow.timestamp | date: "h:mma dd/MM/yyyy"}}</span></h3>
                                                                                <h5>{{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                            &lt;!&ndash;Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.&ndash;&gt;
                                                                        </div>-->
                                                                        <div class="tab-pane" id="Status-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.STATUS">
                                                                                <h3 style="font-size: 14px;">Changed By: <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>{{innerrow.changedBy}}</h5>
                                                                                <h4 style="font-size: 14px; text-transform: capitalize;">Status: {{innerrow.status | lowercase}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane" id="Notes-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.NOTES">
                                                                                <h3 style="font-size: 14px;">Note:<span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>Saved By: {{innerrow.savedBy}}</h5>
                                                                                <h4 style="font-size: 14px;">{{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="prevfeed">
                                                    <div class="panel-group" id="accordion-prevfeed">
                                                        <div class="panel panel-success" ng-repeat="row in vm.iDataFeedJobRecords.previousJobs" ng-click="vm.getFeedMsgThread(row.jobId, vm.iDataCandidateDetails._id)">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">

                                                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion-prevfeed" data-target="#collapse-prevfeed-{{$index}}">
                                                                                <span class="col-md-6" style="font-size: 16px;margin-top: 5px">
                                                                                    <span>{{row.clientName}}</span>
                                                                                    -
                                                                                    <span>{{row.designation}} </span>
                                                                                </span>
                                                                        <button class="col-md-2 btn btn-info btn-xs btn-quirk width-auto">{{row.status}}</button>
                                                                        <span class="list-subhead"> {{row.userName}}</span>
                                                                        <div class="clear"></div>
                                                                    </a>
                                                                </h4>

                                                            </div>
                                                            <div id="collapse-prevfeed-{{$index}}" class="panel-collapse collapse mt20">
                    
                                                                <div class="panel-body">
                                                                    <div class="form-group">
                                                                        <!--                                    <label class="col-sm-3 control-label">Comment <span class="text-danger">*</span></label>-->
                                                                        <div class="col-sm-12">
                                                                            <textarea rows="5" class="form-control" placeholder="What ‘s on your mind about this candidate?"
                                                                                      ng-model="vm.postMessage" required></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                    <br>

                                                                    <div class="row">
                                                                        <div class="col-sm-2"  style="float: right;margin-right: 20px;">
                                                                            <button class="btn btn-success btn-block btn-quirk btn-wide mr5"
                                                                                    ng-click="vm.sendMessage(row.jobId, vm.iDataCandidateDetails._id)">Post</button>
                                                                        </div>
                                                                    </div>

                                                                    <hr>
                                                                    <!-- Nav tabs -->
                                                                    <ul class="nav nav-tabs nav-line">
                                                                        <li class="active"><a data-target="#All-{{$index}}" data-toggle="tab"><strong>All</strong></a></li>

                                                                        <li><a data-target="#Tags-{{$index}}" data-toggle="tab"><strong>Tags</strong></a></li>
                                                                        <!--<li><a data-target="#Mails-{{$index}}" data-toggle="tab"><strong>Mails</strong></a></li>-->
                                                                        <li><a data-target="#Status-{{$index}}" data-toggle="tab"><strong>Status</strong></a></li>
                                                                        <li><a data-target="#Notes-{{$index}}" data-toggle="tab"><strong>Notes</strong></a></li>
                                                                    </ul>


                                                                    <!-- Tab panes -->
                                                                    <!-- Tab panes -->
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active" id="All-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.TAGS">
                                                                                <h3 style="font-size: 14px;">You are tagged in a comment <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5> {{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                            <!--<div class="listcomment" ng-repeat="innerrow in row.msgThread.MAILS">
                                                                                <h3 style="font-size: 14px;">You have received mail from: <span class="right">{{innerrow.timestamp | date: "h:mma dd/MM/yyyy"}}</span></h3>
                                                                                <h5>{{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>-->
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.STATUS">
                                                                                <h3 style="font-size: 14px;">Changed By: <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>{{innerrow.changedBy}}</h5>
                                                                                <h4 style="font-size: 14px; text-transform: capitalize;">Status: {{innerrow.status | lowercase}}</h4>
                                                                            </div>
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.NOTES">
                                                                                <h3 style="font-size: 14px;">Note:<span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>Saved By: {{innerrow.savedBy}}</h5>
                                                                                <h4 style="font-size: 14px;">{{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane" id="Tags-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.TAGS">
                                                                                <h3 style="font-size: 14px;">You are tagged in a comment <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5> {{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <!--<div class="tab-pane" id="Mails-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in row.msgThread.MAILS">
                                                                                <h3 style="font-size: 14px;">You have received mail from: <span class="right">{{innerrow.timestamp | date: "h:mma dd/MM/yyyy"}}</span></h3>
                                                                                <h5>{{innerrow.sentFrom}}</h5>
                                                                                <h4 style="font-size: 14px;">@{{innerrow.sentTo}} {{innerrow.message}}</h4>
                                                                            </div>
                                                                            &lt;!&ndash;Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.&ndash;&gt;
                                                                        </div>-->
                                                                        <div class="tab-pane" id="Status-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.STATUS">
                                                                                <h3 style="font-size: 14px;">Changed By: <span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>{{innerrow.changedBy}}</h5>
                                                                                <h4 style="font-size: 14px; text-transform: capitalize;">Status: {{innerrow.status | lowercase}}</h4>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane" id="Notes-{{$index}}">
                                                                            <div class="listcomment" ng-repeat="innerrow in vm.feedMsgRecords.NOTES">
                                                                                <h3 style="font-size: 14px;">Note:<span class="right">{{innerrow.timestamp}}</span></h3>
                                                                                <h5>Saved By: {{innerrow.savedBy}}</h5>
                                                                                <h4 style="font-size: 14px;">{{innerrow.message}}</h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div><!-- panel -->
                </div>


            </div>
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>

<script>
    $(function () {

        // Textarea Auto Resize
        autosize($('#autosize'));

        // Select2 Box
        $("#select16").select2({tags: true});
        $("#select17").select2({tags: true});
        $("#select18").select2({tags: true});


        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });



    });
</script>

<script>
    (function ($) {
        $(document).on("load", function () {
            $(".contentscroll").mCustomScrollbar();
        });
    })(jQuery);
</script>

